# pymongo를 활용한 MongoDB 프로그래밍

## AWS의 MongoDB 접속

In [2]:
from pymongo import MongoClient 
my_client = MongoClient("mongodb://localhost:27017/")

In [9]:
print(my_client.list_database_names())

['admin', 'config', 'lab12db', 'local', 'testdb_lab12', 'testdb_lab13']

## 리눅스에 만들어놓은 book이라는 컬렉션의 도큐먼트들 추출

In [4]:
my_doc = my_client['testdb_lab12']['book'].find()
for x in my_doc: 
   print(x)

{'_id': ObjectId('5faa41f83fd95c688023de3c'), 'name': 'python', 'price': 10000.0}
{'_id': ObjectId('5faa42a33fd95c688023de3d'), 'name': 'java', 'price': 12000.0}
{'_id': ObjectId('5faa42aa3fd95c688023de3e'), 'name': 'javascript', 'price': 8000.0}
{'_id': ObjectId('5faa42b43fd95c688023de3f'), 'name': 'html5', 'price': 8000.0}
{'_id': ObjectId('5faa42bc3fd95c688023de40'), 'name': 'django', 'price': 20000.0}
{'_id': ObjectId('5faa42c33fd95c688023de41'), 'name': 'spark', 'price': 25000.0}
{'_id': ObjectId('5faa45543fd95c688023de42'), 'name': 'CSS3', 'price': 17000.0}
{'_id': ObjectId('5faa455f3fd95c688023de43'), 'name': 'pandas', 'price': 21000.0}
{'_id': ObjectId('5faa455f3fd95c688023de44'), 'name': 'R', 'price': 23000.0}

## tutordb라는 데이터베이스를 생성하거나 추출

In [5]:
mydb = my_client['lab12db']   # 본인 계정명(labXXdb)으로 수정할것
mycol = mydb['customers'] 
x = mycol.insert_one({"name":"dooly", "address":"SSangmun-dong, Seoul"}) 
print(x.inserted_id)

5faa52acd7289cc5bd7f0234

In [10]:
collection_list = mydb.list_collection_names() 
print (collection_list)

['customers']

In [11]:
x = mycol.insert_one({"name":"gogildong", "address":"SSangmun-dong, Seoul"}) 
print(x.inserted_id)

5faa532dd7289cc5bd7f0235

In [12]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('5faa52acd7289cc5bd7f0234'), 'name': 'dooly', 'address': 'SSangmun-dong, Seoul'}

In [13]:
my_dict = [{"name":"ddochi", "address":"Seocho-dong, Seoul"}, 
                  {"name":"dounar", "address":"Samsung-dong, Seoul"}, 
                  {"name":"heedong", "address":"SSangmun-dong, Seoul"}] 
x = mycol.insert_many(my_dict) 
print(x.inserted_ids)

[ObjectId('5faa5336d7289cc5bd7f0236'), ObjectId('5faa5336d7289cc5bd7f0237'), ObjectId('5faa5336d7289cc5bd7f0238')]

In [14]:
print(x)

<pymongo.results.InsertManyResult object at 0x7f68288d53c8>

In [15]:
my_doc = mycol.find() 
for x in my_doc: 
   print(x)

{'_id': ObjectId('5faa52acd7289cc5bd7f0234'), 'name': 'dooly', 'address': 'SSangmun-dong, Seoul'}
{'_id': ObjectId('5faa532dd7289cc5bd7f0235'), 'name': 'gogildong', 'address': 'SSangmun-dong, Seoul'}
{'_id': ObjectId('5faa5336d7289cc5bd7f0236'), 'name': 'ddochi', 'address': 'Seocho-dong, Seoul'}
{'_id': ObjectId('5faa5336d7289cc5bd7f0237'), 'name': 'dounar', 'address': 'Samsung-dong, Seoul'}
{'_id': ObjectId('5faa5336d7289cc5bd7f0238'), 'name': 'heedong', 'address': 'SSangmun-dong, Seoul'}

In [16]:
my_doc = mycol.find().sort("name") 
for x in my_doc: 
   print(x)

{'_id': ObjectId('5faa5336d7289cc5bd7f0236'), 'name': 'ddochi', 'address': 'Seocho-dong, Seoul'}
{'_id': ObjectId('5faa52acd7289cc5bd7f0234'), 'name': 'dooly', 'address': 'SSangmun-dong, Seoul'}
{'_id': ObjectId('5faa5336d7289cc5bd7f0237'), 'name': 'dounar', 'address': 'Samsung-dong, Seoul'}
{'_id': ObjectId('5faa532dd7289cc5bd7f0235'), 'name': 'gogildong', 'address': 'SSangmun-dong, Seoul'}
{'_id': ObjectId('5faa5336d7289cc5bd7f0238'), 'name': 'heedong', 'address': 'SSangmun-dong, Seoul'}

In [17]:
my_doc = mycol.find().sort("name", -1) 
for x in my_doc: 
    print(x)

{'_id': ObjectId('5faa5336d7289cc5bd7f0238'), 'name': 'heedong', 'address': 'SSangmun-dong, Seoul'}
{'_id': ObjectId('5faa532dd7289cc5bd7f0235'), 'name': 'gogildong', 'address': 'SSangmun-dong, Seoul'}
{'_id': ObjectId('5faa5336d7289cc5bd7f0237'), 'name': 'dounar', 'address': 'Samsung-dong, Seoul'}
{'_id': ObjectId('5faa52acd7289cc5bd7f0234'), 'name': 'dooly', 'address': 'SSangmun-dong, Seoul'}
{'_id': ObjectId('5faa5336d7289cc5bd7f0236'), 'name': 'ddochi', 'address': 'Seocho-dong, Seoul'}

In [18]:
my_query = {"address":"SSangmun-dong, Seoul"} 
my_doc = mycol.find(my_query) 
for x in my_doc: 
    print(x)

{'_id': ObjectId('5faa52acd7289cc5bd7f0234'), 'name': 'dooly', 'address': 'SSangmun-dong, Seoul'}
{'_id': ObjectId('5faa532dd7289cc5bd7f0235'), 'name': 'gogildong', 'address': 'SSangmun-dong, Seoul'}
{'_id': ObjectId('5faa5336d7289cc5bd7f0238'), 'name': 'heedong', 'address': 'SSangmun-dong, Seoul'}

In [19]:
my_query = {"name":{"$gt":"f"}} 
my_doc = mycol.find(my_query) 
for x in my_doc: 
    print(x)

{'_id': ObjectId('5faa532dd7289cc5bd7f0235'), 'name': 'gogildong', 'address': 'SSangmun-dong, Seoul'}
{'_id': ObjectId('5faa5336d7289cc5bd7f0238'), 'name': 'heedong', 'address': 'SSangmun-dong, Seoul'}

In [20]:
my_query = {"name":{"$regex":"^d"}} 
my_doc = mycol.find(my_query) 
for x in my_doc: 
    print(x)

{'_id': ObjectId('5faa52acd7289cc5bd7f0234'), 'name': 'dooly', 'address': 'SSangmun-dong, Seoul'}
{'_id': ObjectId('5faa5336d7289cc5bd7f0236'), 'name': 'ddochi', 'address': 'Seocho-dong, Seoul'}
{'_id': ObjectId('5faa5336d7289cc5bd7f0237'), 'name': 'dounar', 'address': 'Samsung-dong, Seoul'}

In [21]:
my_client.close()

## AWS의 MongoDB를 접속하는 또 다른 방법

In [22]:
mongo_server="localhost"
connection = MongoClient(mongo_server, 27017)

In [23]:
db = connection.lab12db  # 본인 계정명(labXXdb)으로 수정할것

In [24]:
db = connection["lab12db"]

In [25]:
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'lab12db')

In [26]:
print(db.name)

lab12db

In [27]:
test_collection = db.test_collection # test_collection = db["test_collection"]

In [28]:
test_collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'lab12db'), 'test_collection')

In [29]:
post = {"author": "Mike", "text": "My first blog post!", "tags": ["mongodb", "python", "pymongo"] }
test_collection.insert_one(post)

In [30]:
post = {"author": "Dave", "text": "My first blog post!", "tags": ["mongodb", "python", "pymongo"] }
post_id = test_collection.insert_one(post).inserted_id

In [31]:
post_id

ObjectId('5faa53e2d7289cc5bd7f023b')

In [32]:
test_collection.count_documents({})

2

In [ ]:
result = test_collection.insert_many(
    [
        {'number': i} for i in range(10)
    ]
)

In [ ]:
test_collection.count_documents({})

In [ ]:
myCursor = test_collection.find()
myCursor

In [ ]:
for doc in myCursor:
    print(doc)

In [ ]:
test_collection.find({"author": "Mike"})

In [ ]:
test_collection.find_one({"author": "Mike"})

In [ ]:
test_collection.count_documents({"author": "Mike"})

In [ ]:
test_collection.find_one( {"author":"Dave"} )

In [ ]:
test_collection.update_one(
    { "author" : "Dave" }, 
    { "$set" : 
        { "text" : "My second blog post!" }
    }
)

In [ ]:
test_collection.find_one( {"author":"Dave"} )

In [ ]:
myCursor = test_collection.find()
for doc in myCursor:
    print(doc)

In [ ]:
test_collection.update_one({'id':'5'}, {'$set': {'id':'5','name':'kim2'}}, upsert=True) # id가 5인 데이터가 존재하면 {'id':'5','name':'kim'}로 update를 하고 존재하지 않으면 insert

In [ ]:
myCursor = test_collection.find()
for doc in myCursor:
    print(doc)

In [ ]:
test_collection.delete_many( {"number": { "$gt": 6 } } )

In [ ]:
myCursor = test_collection.find()
for doc in myCursor:
    print(doc)

## 다음 코드와 같이 수행하면 test_insert 라는 컬렉션을 생성하거나 가져오게 됨

In [ ]:
test_insert_collection = db.test_insert

In [ ]:
test_insert_collection.insert_one({'title' : '암살', 'castings' : ['이정재', '전지현', '하정우']})

In [ ]:
test_insert_collection.insert_one({'title' : '실미도', 'castings' : ['설경구', '안성기'], 
                              'datetime' : {'year' : '2003', 'month' : 3,
                                           'val' : {'a' :{'b' : 1}}}})

In [ ]:
data1 = []
data1.append({'name' : 'aaron', 'age' : 20})
data1.append({'name' : 'bob', 'age' : 30})
data1.append({'name' : 'cathy', 'age' : 25})
data1.append({'name' : 'david', 'age' : 27})
data1.append({'name' : 'erick', 'age' : 28})
data1.append({'name' : 'fox', 'age' : 32})
data1.append({'name' : 'hmm'})

In [ ]:
test_insert_collection.insert_many(data1)

In [ ]:
data = test_insert_collection.find()
for result in data:
    print(result)

In [ ]:
data = test_insert_collection.find()

In [ ]:
data

In [ ]:
results = test_insert_collection.find({"age": {"$gt":25}})

for result in results:
  print (result)

## 이 코드들은 실행시키지 않고 점검만 하지요

In [ ]:
def insert_item_one(mongo, data, db_name=None, collection_name=None):
    result = mongo[db_name][collection_name].insert_one(data).inserted_id
    return result

def insert_item_many(mongo, datas, db_name=None, collection_name=None):
    result = mongo[db_name][collection_name].insert_many(datas).inserted_ids
    return result
    
host = "52.79.49.175"
port = "27017"
mongo = MongoClient(host, int(port))
print(mongo)

insert_item_one(mongo, {"text": "Hello Python"}, "test", "test")

In [ ]:
def find_item_one(mongo, condition=None, db_name=None, collection_name=None):
    result = mongo[db_name][collection_name].find_one(condition, {"_id": False})
    return result

def find_item(mongo, condition=None, db_name=None, collection_name=None):
    result = mongo[db_name][collection_name].find(condition, {"_id": False}, no_cursor_timeout=True, cursor_type=CursorType.EXHAUST)
    return result

host = "localhost"
port = "27017"
mongo = MongoClient(host, int(port))

cursor = find_item(mongo, None, "test", "test")
for list in cursor:
	print(list["text"])

In [ ]:
delete_item_many(mongo, {}, "test", "test")

In [ ]:
def update_item_one(mongo, condition=None, update_value=None, db_name=None, collection_name=None):
    result = mongo[db_name][collection_name].update_one(filter=condition, update=update_value)
    return result

def update_item_many(mongo, condition=None, update_value=None, db_name=None, collection_name=None):
    result = mongo[db_name][collection_name].update_many(filter=condition, update=update_value)
    return result
    
host = "localhost"
port = "27017"
mongo = MongoClient(host, int(port))

update_item_one(mongo, {"text": "Hello Python"}, { "$set": {"text": "Hello Kotlin"}}, "test", "test")

In [ ]:
def text_search(mongo, text=None, db_name=None, collection_name=None):
    result = mongo[db_name][collection_name].find({"$text": {"$search": text}})
    return result

host = "localhost"
port = "27017"
mongo = MongoClient(host, int(port))

cursor = text_search(mongo, "Hello", "test", "test")
for list in cursor:
	print(list)

In [ ]:
class DBHandler:
    def __init__(self):
        host = "localhost"
        port = "27017"
        self.client = MongoClient(host, int(port))

    def insert_item_one(self, data, db_name=None, collection_name=None):
        result = self.client[db_name][collection_name].insert_one(data).inserted_id
        return result

    def insert_item_many(self, datas, db_name=None, collection_name=None):
        result = self.client[db_name][collection_name].insert_many(datas).inserted_ids
        return result

    def find_item_one(self, condition=None, db_name=None, collection_name=None):
        result = self.client[db_name][collection_name].find_one(condition, {"_id": False})
        return result

    def find_item(self, condition=None, db_name=None, collection_name=None):
        result = self.client[db_name][collection_name].find(condition, {"_id": False}, no_cursor_timeout=True, cursor_type=CursorType.EXHAUST)
        return result

    def delete_item_one(self, condition=None, db_name=None, collection_name=None):
        result = self.client[db_name][collection_name].delete_one(condition)
        return result

    def delete_item_many(self, condition=None, db_name=None, collection_name=None):
        result = self.client[db_name][collection_name].delete_many(condition)
        return result

    def update_item_one(self, condition=None, update_value=None, db_name=None, collection_name=None):
        result = self.client[db_name][collection_name].update_one(filter=condition, update=update_value)
        return result

    def update_item_many(self, condition=None, update_value=None, db_name=None, collection_name=None):
        result = self.client[db_name][collection_name].update_many(filter=condition, update=update_value)
        return result

    def text_search(self, text=None, db_name=None, collection_name=None):
        result = self.client[db_name][collection_name].find({"$text": {"$search": text}})
        return result

In [ ]:
mongo = DBHandler()
mongo.find_item_one(None, "test", "test")

## 여기까지요~ (이 코드들은 실행시키지 않고 점검만 하지요)

In [33]:
import json
with open('data/hankuk1_geo.json', encoding='UTF-8') as file: 
    file_data = json.load(file)

In [34]:
mydb = my_client['lab12db']   # 본인 계정명(labXXdb)으로 수정할것
mycollection = mydb['geo']

In [35]:
import builtins
if isinstance(file_data, builtins.list): 
    mycollection.insert_many(file_data)   
else: 
    mycollection.insert_one(file_data)

In [36]:
result = mycollection.find({})

In [ ]:
for dd in result:
    print(dd)

## AWS의 MongoDB 에 저장된 센서 데이터 활용

In [38]:
import pandas as pd

In [39]:
from pymongo import MongoClient 
my_client = MongoClient("mongodb://52.79.49.175:27017/") # 수정하지 않고 합니다.

In [40]:
print(my_client.list_database_names())

['DATA_RECOVERY', 'admin', 'config', 'imsi', 'iot_service', 'testdb_tutor', 'tutordb', '여러분의리눅스계정명db']

In [41]:
mydb = my_client['iot_service']   # 본인 계정명(labXXdb)으로 수정할것
mycollection = mydb['sensors'] 
sensordata = mycollection.find({})

In [42]:
sensordata

In [ ]:
for data in sensordata:
    print(data)

In [ ]:
df =  pd.DataFrame.from_records(sensordata)

In [ ]:
display(df)

In [ ]:
df.drop(['_id'], axis='columns', inplace=True)

In [ ]:
display(df)

In [ ]:
df.info()

In [ ]:
df.set_index("reg_date", inplace=True)

In [ ]:
display(df)

In [ ]:
newdf = pd.pivot_table(df, index='reg_date', columns='topic', values='value')

In [ ]:
display(newdf)

In [ ]:
newdf.fillna(method='ffill', inplace=True)

In [ ]:
newdf.fillna(method='bfill', inplace=True)

In [ ]:
from matplotlib import font_manager, rc
font_path = "data/THEdog.ttf"   #폰트파일의 위치
font_name = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font_name)

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1, 2, figsize=(20, 5)) 
# 0번 그래프 
ax[0].plot(newdf.index, newdf['iot/humi'], color='C0') 
ax[0].set_title("3의간의 습도 데이터 그래프", size=25, color='C0') 
ax[0].set_xlabel("시간", size=15) 
ax[0].set_ylabel("습도", size=15) 
# 1번 그래프 
ax[1].plot(newdf.index, newdf['iot/temp'], color='C1') 
ax[1].set_title("3의간의 온도 데이터 그래프", size=25, color='C1') 
ax[1].set_xlabel("시간", size=15) 
ax[1].set_ylabel("온도", size=15)
plt.show()